 .u-section-1 {
  background-image: url("images/screen-0.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 835px;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 48px -32px 0 auto;
  padding: 14px 36px 15px 34px;
}

.u-section-1 .u-group-1 {
  width: 658px;
  min-height: 439px;
  margin: 298px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 56px;
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 56px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 46px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 74.2% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 27px;
    padding-right: 9px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 249px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 6px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 0;
  }
} .u-section-2 {
  background-image: none;
  min-height: 781px;
}

.u-section-2 .u-image-1 {
  width: 461px;
  height: 589px;
  object-position: 0% 50%;
  background-position: 0% 50%;
  margin: -164px 0 0 auto;
}

.u-section-2 .u-group-1 {
  width: 677px;
  min-height: 614px;
  margin: -257px auto 0 calc(((100% - 1140px) / 2) + 16px);
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-2 .u-line-1 {
  width: 550px;
  height: 11px;
  transform-origin: left center 0px;
  margin: 102px 87px 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  background-image: none;
  font-weight: normal;
  margin: -69px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 50px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    width: 427px;
    height: 632px;
    margin-top: -155px;
  }

  .u-section-2 .u-group-1 {
    width: 556px;
    margin-left: calc(((100% - 940px) / 2) + 16px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-line-1 {
    width: 474px;
    margin-right: 72px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    font-weight: 700;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    width: 334px;
    height: 590px;
    margin-top: -161px;
  }

  .u-section-2 .u-group-1 {
    width: 460px;
    margin-top: -306px;
    margin-bottom: 36px;
    margin-left: calc(((100% - 1140px) / 2) + 226px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-line-1 {
    width: 398px;
    margin-right: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    width: 352px;
    height: 514px;
    margin-top: -141px;
  }

  .u-section-2 .u-group-1 {
    width: 443px;
    margin-top: -137px;
    margin-bottom: 90px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-line-1 {
    width: 385px;
    margin-right: 41px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 626px;
  }

  .u-section-2 .u-image-1 {
    width: 330px;
    height: 589px;
    margin-top: -112px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -108px;
    margin-bottom: 102px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-line-1 {
    width: 291px;
    margin-right: 37px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -62px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    margin-top: 43px;
  }
} .u-section-3 {
  background-image: url("images/p21323688_i_h8_aa.jpg");
  min-height: 1083px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-1 {
  width: 515px;
  height: 515px;
  background-image: url("images/jupiter-psd-437314.png");
  background-position: 50% 50%;
  margin: -283px calc(((100% - 1140px) / 2) + 55px) 0 auto;
}

.u-section-3 .u-image-2 {
  width: 150px;
  height: 150px;
  margin: -139px calc(((100% - 1140px) / 2) + 78px) 0 auto;
}

.u-section-3 .u-image-3 {
  width: 329px;
  height: 465px;
  object-position: 100% 50%;
  background-position: 100% 50%;
  margin: -330px auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 683px;
  min-height: 287px;
  margin: 359px calc(((100% - 1140px) / 2) + -22px) 59px auto;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 23px;
}

.u-section-3 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 20px auto 0 0;
  padding: 14px 36px 15px 34px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 893px;
  }

  .u-section-3 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2) + 55px);
  }

  .u-section-3 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2) + 78px);
  }

  .u-section-3 .u-group-1 {
    margin-right: calc(((100% - 940px) / 2) + -22px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 684px;
  }

  .u-section-3 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2) + 55px);
  }

  .u-section-3 .u-image-2 {
    margin-right: calc(((100% - 720px) / 2) + 78px);
  }

  .u-section-3 .u-group-1 {
    margin-right: calc(((100% - 720px) / 2) + -22px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 513px;
  }

  .u-section-3 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2) + 25px);
  }

  .u-section-3 .u-image-2 {
    margin-right: calc(((100% - 540px) / 2) + 78px);
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1083px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-image-2 {
    margin-top: 36px;
    margin-right: calc(((100% - 340px) / 2) + 78px);
  }

  .u-section-3 .u-image-3 {
    width: 126px;
    height: 229px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 595px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }
} .u-section-4 {
  min-height: 707px;
  background-image: none;
}

.u-section-4 .u-image-1 {
  width: 419px;
  height: 535px;
  margin: -112px 0 0 auto;
}

.u-section-4 .u-layout-wrap-1 {
  width: 919px;
  margin: -292px auto 131px calc(((100% - 1140px) / 2) + -22px);
}

.u-section-4 .u-layout-cell-1 {
  min-height: 445px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 30px;
}

.u-section-4 .u-icon-1 {
  height: 58px;
  width: 58px;
  margin: 39px auto 0 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: 22px 30px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 39px 30px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 445px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 30px;
}

.u-section-4 .u-icon-2 {
  height: 58px;
  width: 58px;
  margin: 39px auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  margin: 31px 30px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 30px 30px 45px 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 445px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 30px;
}

.u-section-4 .u-icon-3 {
  height: 58px;
  width: 58px;
  margin: 39px auto 0 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 30px 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 30px 45px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    width: 407px;
    object-position: 0% 50%;
    background-position: 0% 50%;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -22px;
    margin-bottom: 47px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-icon-1 {
    height: 73px;
    width: 73px;
    margin-top: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-icon-2 {
    height: 73px;
    width: 73px;
    margin-top: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-icon-3 {
    height: 72px;
    width: 72px;
    margin-top: 14px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 29px;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 362px;
  }

  .u-section-4 .u-image-1 {
    width: 307px;
    height: 557px;
    margin-top: -190px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -236px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 0;
  }

  .u-section-4 .u-icon-1 {
    height: 61px;
    width: 61px;
    margin-top: 15px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 0;
  }

  .u-section-4 .u-icon-2 {
    height: 57px;
    width: 57px;
    margin-top: 19px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 19px;
    padding-right: 0;
  }

  .u-section-4 .u-icon-3 {
    height: 59px;
    width: 59px;
    margin-top: 17px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 462px;
  }

  .u-section-4 .u-image-1 {
    width: 248px;
    height: 535px;
    object-position: 3.86% 50%;
    background-position: 3.86% 50%;
    margin-top: -112px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -292px;
    margin-bottom: 40px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 14px;
  }

  .u-section-4 .u-icon-1 {
    height: 34px;
    width: 34px;
    margin-top: 39px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 14px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 14px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 14px;
  }

  .u-section-4 .u-icon-2 {
    height: 34px;
    width: 34px;
    margin-top: 39px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.875rem;
    margin-right: 14px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 14px;
    margin-bottom: 45px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 14px;
  }

  .u-section-4 .u-icon-3 {
    height: 34px;
    width: 34px;
    margin-top: 39px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 14px;
    margin-bottom: 45px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 361px;
  }

  .u-section-4 .u-image-1 {
    width: 259px;
    height: 595px;
    object-position: 0% 50%;
    background-position: 0% 50%;
    margin-top: -172px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 75px;
    margin-bottom: 134px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-icon-1 {
    height: 69px;
    width: 69px;
    margin-top: 22px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-bottom: 22px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-icon-2 {
    height: 69px;
    width: 69px;
    margin-top: 22px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-bottom: 22px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-icon-3 {
    height: 69px;
    width: 69px;
    margin-top: 22px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
    margin-bottom: 22px;
  }
} .u-section-5 {
  background-image: url("images/SpaceAge2.png");
  background-position: 50% 50%;
  min-height: 691px;
}

.u-section-5 .u-image-1 {
  width: 255px;
  height: 303px;
  object-position: 100% 50%;
  background-position: 100% 50%;
  margin: -84px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    width: 221px;
    height: 263px;
    margin-top: -90px;
    margin-left: calc(((100% - 940px) / 2) + -84px);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    width: 193px;
    height: 207px;
    margin-top: 66px;
    margin-left: calc(((100% - 720px) / 2) + -108px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + -108px);
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 642px;
  }

  .u-section-5 .u-image-1 {
    object-position: 98.6% 50%;
    background-position: 98.6% 50%;
    width: 173px;
    height: 173px;
    margin-top: 144px;
    margin-left: calc(((100% - 340px) / 2) + -122px);
  }
}.min-width {
100%;
}